
<div class="Card-box">
{% for item in include.items %}
  <article class="Card">
    {% if item.link %}
      {% assign item_link = item.link %}
    {% else %}
      {% assign item_link = item.permalink %}
    {% endif %}

    {% if item.cover != empty %}
    <a class="Card__cover-link" href="{{ item_link }}" style="background-image: url('{{ item.cover }}');">
      <img class="Card__cover" src="{{ item.cover }}" alt="{{ item.title }}">
    </a>
    {% else %}
      <a class="Card__cover-link" href="{{ item_link }}"></a>
    {% endif %}

    <div class="Card__info">

      <h3 class="Card__title">
        <a href="{{ item_link }}">{{ item.title }}</a>
      </h3>

      <p class="Card__intro">
        {{ item.intro }}
      </p>

      <div class="Metainfo">
        <a class="Metainfo__sharer" href="https://fb.com/{{ item.sharer-id }}">
          {{ item.sharer-name }}
          <img src="https://graph.facebook.com/{{ item.sharer-id }}/picture?width=32" alt="{{ item.sharer-name }}">
        </a>
        <time class="Metainfo__time" datetime="{{ item.time | date_to_xmlschema }}" title="{{ item.time | date_to_xmlschema }}">{{ item.time | date: '%Y-%m-%d' }}</time>
        <a class="Metainfo__permalink" href="{{ item.permalink }}">permalink</a>
      </div>
    </div>
  </article>
{% endfor %}
  <article class="Card"></article>
  <article class="Card"></article>
  <article class="Card"></article>
</div>
