.PostList {
}

.PostList__time {
  opacity: .5;
}

.PostList__title {
}

.PostList__link {
  color: inherit;
  font-size: 1.4em;
  letter-spacing: -1px;
}

.PostList__txt {
  border-left: .5em solid rgba($c-black, .075);
  opacity: .8;
}
