.Cards {
}

.Card {
  position: relative;
  background-color: $c-white;
  font-size: 1.1em;

  &::before {
    content: "";
    position: absolute;
    @include fill;
    z-index: -1;
    opacity: .5;
    box-shadow: 1px 2px 10px -1px rgba($c-black, .6);
    transition: opacity .3s;
    pointer-events: none;
  }

  &:hover::before {
    opacity: .8;
  }

  .time {
    font-size: smaller;
  }
}

.Card__cover--link {
  overflow: hidden;
  background: #000 no-repeat 50% / cover;
  background-blend-mode: screen;

  &:empty {
    padding-bottom: 40%;
    background: rgba(#efe, .5) url("https://avatars2.githubusercontent.com/u/8252114?s=240") no-repeat 50% / contain;
  }

  &:visited {
    background-color: mix($c-white, $c-black, 50%);
  }
}

.Card__titleLink {
  &:visited {
    color: lighten(desaturate($c-link, 20%), 10%);
  }
}

.Card__cover {
  display: block;
  width: 100%;
  max-height: 200px;
  opacity: 0;
}

.Card__desc {
  opacity: .75;
}

.Card__meta {
  opacity: .5;
  transition: opacity .3s;
  font-family: serif;

  .Card:hover & {
    opacity: 1;
  }
}

.Card__meta__timestamp {
  border-bottom: 1px solid rgba($c-black, .3);
  opacity: .75;
}

.permalink-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.Card__notice__overlay {
  position: absolute;
  @include fill;
  z-index: 1;
  cursor: pointer;
  background-color: rgba($c-white, .9);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;

  .Card__notice__switcher:checked + & {
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: attr(data-notice);
    @include t-center;
    padding: .5em 1em;
    opacity: .5;
    box-shadow: 0 1px 2px 2px rgba($c-black, .3);
    background-color: darken($c-white, 5%);
  }
}
