---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    since: {{ page.date-since | date: "%Y-%m-%d" }} <br>
    until: {{ page.date-until | date: "%Y-%m-%d" }} <br>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {% if page.volunteer %}
      本期由 {{ page.volunteer }} 匯編，
    {% endif %}
    publish on {{ page.publish-date | date: "%Y-%m-%d" }} <br>
  </div>

  {% include disqus.html %}
</article>

{% comment %}
<!--
<aside>
  <h3>Tag Cloud</h3>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <span class="site-tag">
    <a href="{{ site.baseurl }}/tags/#tag-{{ tag | first | slugify }}"
      style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
          {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
  </span>
  {% endfor %}
</aside>
-->
{% endcomment %}
