---
layout: default
---

<article class="post">
  <div class="container">
    <h1>{{ page.title }}</h1>

    <div class="date">
      <span class="date__text">since: {{ page.date-since | date: "%Y-%m-%d" }}</span>
      <span class="date__text">until: {{ page.date-until | date: "%Y-%m-%d" }}</span>

    </div>
    <div class="date">
      <span class="date__text">{% if page.volunteer %}
        本期由 {{ page.volunteer }} 匯編，
        {% endif %}
        publish on {{ page.publish-date | date: "%Y-%m-%d" }} 
      </span>
    </div>
  </div>

  <div class="entry">
    <div class="container">
      {{ content }}
    </div>
  </div>

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}

    {% if page.next.url %}
      <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>

{% comment %}
<!--
<aside>
  <h3>Tag Cloud</h3>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <span class="site-tag">
    <a href="{{ site.baseurl }}/tags/#tag-{{ tag | first | slugify }}"
      style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
          {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
  </span>
  {% endfor %}
</aside>
-->
{% endcomment %}
